body {
    background: white;
    background-size: cover;
    background-position: center; 
}

body,
html {
    width: 100%;
    height: 100%;
    font-family: "Lato";
    color: black;
}

h1 {
	font-weight: 700;
	font-size: 5em;
}

nav
{
    background: lightgray;
}

li
{
    float: left;
    
}

#navbar
{

    height: 50px;
    
}
a
{
    color: black;
    margin: 0 30px;
}

.navbar-brand
{
    padding: 0 15px;
}

#logo
{
    padding-top: 15px;
}

a:hover
{
    color: black;
    border-bottom: 3px solid black;
    background-color: gray;
}

.content{
	padding-top: 25%;
	text-align: center;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}

hr {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
